.header {
    position: fixed;
    width: 100%;
    background: rgba(16, 16, 29, 0.90);
    z-index: 1;
    &__link {
        text-wrap: nowrap;
        color: $white;
        transition: color $animate;

        &:hover {
            color: $accent;
            transition: color $animate;
        }
    }

    &__wrapper {
        padding: 3% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: $standard;
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        color: $accent;
    }
}