// COLORS
$accent: #3e9cdc;
$white: #ffffff;
$black: #000000;
$hover-black: #10101de5;
$gray: #bbbbbb;

//FONTS
$regular: 'Lato Regular';
$semi: 'Lato Semi Bold';
$bold: 'Lato Bold';
$extra: 'Lato Extra Bold';

//GAPS
$big: 80px;
$standard: 30px;

//ANIMATION
$animate: .2s ease-in-out;